body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: var(--offblack);

    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
     supported by Chrome and Opera */

    scroll-behavior: smooth;
}

.selectAll {
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: element; /* Internet Explorer/Edge */
    user-select: all; /* Non-prefixed version, currently
        supported by Chrome and Opera */
}

.fullscreen {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: hidden;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.fullwidth {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.white {
    color: var(--offwhite);
}
