.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: scroll;
    z-index: 3;

}

.popup-card {
    background-color: var(--offwhite);
    /* width: 100vw; */
    max-width: var(--mobileWidth);
    border-radius: 10px;
    z-index: 4;
    text-align: center;
}

.popup-cv {
    /* width: 100vw; */
    max-width: var(--mobileWidth);
    z-index: 4;
    text-align: center;
}

#cv {
    height: 80vh;
}
