<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
    
    <title>CLI</title>
</head>
<body>
    <div id="app">
        <div v-for="line in lines">
            <clirow :line=line></clirow>
        </div>
    </div>
    <div id="popup" v-if="image != ''">
        <img :src="image">
        <div id="close" v-on:click="close"></div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="js/classes.js"></script>
    <script src="js/common.js"></script>
    <script src="js/commands.js"></script>
    <script src="js/vue/line.js"></script>
    <script src="js/vue/store.js"></script>
    <script src="js/vue/app.js"></script>
    <script src="js/vue/popup.js"></script>
    <script src="js/init.js"></script>
</body>
</html>